USE [QLyBanHangSieuThi]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 08/22/2016 13:52:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](350) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[Website] [nvarchar](250) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Website]) VALUES (N'NCC1', N'Công Ty Cổ Phần OTRAN Việt Nam', N'Cụm CN Dốc 47, Xã Tam Phước, Tp. Biên Hòa, Đồng Nai', N'(061) 38261919', N'http://otrangroup.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Website]) VALUES (N'NCC2', N'Công Ty CoCaCoLa Việt Nam', N'485 Xa lộ Hà Nội, Linh Trung, Thủ Đức, Hồ Chí Minh', N'08 3896 1000', N'www.coca-cola.vn')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Website]) VALUES (N'NCC3', N'Công Ty Cố Phần Foodtech', N'Ấp 1, X. Nhựt Chánh, H. Bến Lức,Long An', N'(072) 3871080', N'http://trangvangvietnam.com')
/****** Object:  Table [dbo].[NguoiDungCa]    Script Date: 08/22/2016 13:52:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungCa](
	[MaNV] [nvarchar](50) NOT NULL,
	[HoNV] [nvarchar](50) NULL,
	[TenNV] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](350) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[TaiKhoan] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Quyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_NGUOIDUNGCA] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NguoiDungCa] ([MaNV], [HoNV], [TenNV], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau], [Quyen]) VALUES (N'NV001', N'Lê văn', N'Tâm', N'45 Trần Phú', N'8663447', N'nhanvien01', N'03071994', N'ThanhToan')
INSERT [dbo].[NguoiDungCa] ([MaNV], [HoNV], [TenNV], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau], [Quyen]) VALUES (N'NV002', N'Tạ Thành', N'Tâm', N'15 Nguyễn Trãi', N'8565666', N'nhanvien02', N'05031993', N'ThanhToan')
INSERT [dbo].[NguoiDungCa] ([MaNV], [HoNV], [TenNV], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau], [Quyen]) VALUES (N'NV003', N'Lê thị', N'Thuỷ', N'20 Võ thị Sáu', N'9767677', N'nhanvien03', N'20031990', N'ThanhToan')
/****** Object:  Table [dbo].[Loai_HH]    Script Date: 08/22/2016 13:52:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_HH](
	[MaLoaiHH] [nvarchar](50) NOT NULL,
	[TenLoaiHH] [nvarchar](50) NULL,
 CONSTRAINT [PK_Loai_HH] PRIMARY KEY CLUSTERED 
(
	[MaLoaiHH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Loai_HH] ([MaLoaiHH], [TenLoaiHH]) VALUES (N'1', N'Dầu Ăn')
INSERT [dbo].[Loai_HH] ([MaLoaiHH], [TenLoaiHH]) VALUES (N'2', N'Bột')
INSERT [dbo].[Loai_HH] ([MaLoaiHH], [TenLoaiHH]) VALUES (N'3', N'Xúc Xích')
/****** Object:  Table [dbo].[KhachHang]    Script Date: 08/22/2016 13:52:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](50) NOT NULL,
	[HoKH] [nvarchar](50) NULL,
	[TenKH] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[SoDiem] [nchar](10) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KhachHang] ([MaKH], [HoKH], [TenKH], [SoDienThoai], [SoDiem]) VALUES (N'KH000001            ', N'Nguyễn Đức', N'Trường', N'908859023', N'200       ')
INSERT [dbo].[KhachHang] ([MaKH], [HoKH], [TenKH], [SoDienThoai], [SoDiem]) VALUES (N'KH000002            ', N'Hoàng Trường ', N'Sơn', N'902823475', N'371       ')
INSERT [dbo].[KhachHang] ([MaKH], [HoKH], [TenKH], [SoDienThoai], [SoDiem]) VALUES (N'KH000003            ', N'Huỳnh Văn', N'Hiệu', N'988007623', N'215       ')
/****** Object:  Table [dbo].[HoaDon]    Script Date: 08/22/2016 13:52:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[NgayLap] [date] NULL,
	[MaNV] [nvarchar](50) NULL,
	[MaKH] [nvarchar](50) NULL,
	[TongThanhTien] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaNV], [MaKH], [TongThanhTien]) VALUES (N'HD000001', CAST(0x3F240B00 AS Date), N'NV002', N'KH000004            ', 52000)
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaNV], [MaKH], [TongThanhTien]) VALUES (N'HD000002', CAST(0xD1260B00 AS Date), N'NV001', N'KH000007            ', 169000)
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaNV], [MaKH], [TongThanhTien]) VALUES (N'HD000003', CAST(0x95250B00 AS Date), N'NV007', N'KH000002            ', 290000)
/****** Object:  Table [dbo].[HangHoa]    Script Date: 08/22/2016 13:52:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHH] [nvarchar](50) NOT NULL,
	[TenHH] [nvarchar](50) NULL,
	[GiaBan] [int] NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[MaNCC] [nvarchar](50) NULL,
	[MaLoaiHH] [nvarchar](50) NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [GiaBan], [DonViTinh], [MaNCC], [MaLoaiHH]) VALUES (N'HH000001', N'Dầu Ăn Kiddy', 36000, N'Chai', N'NCC1', N'1')
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [GiaBan], [DonViTinh], [MaNCC], [MaLoaiHH]) VALUES (N'HH000002', N'Dầu Ăn Neptune', 15000, N'Chai', N'NCC1', N'1')
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [GiaBan], [DonViTinh], [MaNCC], [MaLoaiHH]) VALUES (N'HH000003', N'Dầu Ăn Simply', 43000, N'Chai', N'NCC1', N'1')
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 08/22/2016 13:52:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaHH] [nvarchar](50) NOT NULL,
	[DonGia] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaHH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaHH], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'HD000001', N'HH000003', 43000, 1, 43000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaHH], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'HD000001', N'HH000005', 3000, 3, 9000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaHH], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'HD000002', N'HH000007', 13500, 4, 54000)
/****** Object:  ForeignKey [FK_CHITIETHOADON_HANGHOA]    Script Date: 08/22/2016 13:52:02 ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HANGHOA] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HangHoa] ([MaHH])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CHITIETHOADON_HANGHOA]
GO
/****** Object:  ForeignKey [FK_CHITIETHOADON_HOADON]    Script Date: 08/22/2016 13:52:02 ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
/****** Object:  ForeignKey [FK_HANGHOA_Loai_HH]    Script Date: 08/22/2016 13:52:02 ******/
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_Loai_HH] FOREIGN KEY([MaLoaiHH])
REFERENCES [dbo].[Loai_HH] ([MaLoaiHH])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HANGHOA_Loai_HH]
GO
/****** Object:  ForeignKey [FK_HANGHOA_NHACUNGCAP]    Script Date: 08/22/2016 13:52:02 ******/
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HANGHOA_NHACUNGCAP]
GO
/****** Object:  ForeignKey [FK_HOADON_KhachHang]    Script Date: 08/22/2016 13:52:02 ******/
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HOADON_KhachHang]
GO
/****** Object:  ForeignKey [FK_HOADON_NGUOIDUNGCA]    Script Date: 08/22/2016 13:52:02 ******/
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NGUOIDUNGCA] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NguoiDungCa] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HOADON_NGUOIDUNGCA]
GO
